# Khamar Khata Environment Configuration

# Self-Hosted PostgreSQL Database Connection URL
# Format: postgresql://<user>:<password>@<host>:<port>/<dbname>
DATABASE_URL=postgresql://shenron:abirmallik76922247@100.124.204.9:5432/main_db

# Auth.js / NextAuth Secrets & URLs
AUTH_SECRET=5165554ca9d91627615dee993e9b545a9f69607f406b4cead67d5f72e4b83348
NEXTAUTH_URL=https://abirmallik11.tail100a66.ts.net/khamar_khata
AUTH_TRUST_HOST=true

# Local File Upload Directory (Defaults to /app/public/uploads in Docker container)
UPLOAD_DIR=/app/public/uploads
